header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .headercontainer{
        text-align: center;

        h1{
            text-transform: uppercase;
            color: $color1;
            font-family: $font1;
            font-size: 6rem;
            transform: translateY(-100px);
            width: 80%;
            margin: 0 auto;
        }

        p{
            color: white;
            font-family: $font2;
            transform: translateY(-70px);
        }

        .headericon{
            border: solid  1px $color1;
            height: 60px;
            width: 60px;
            border-radius: 50px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover
            {
                backdrop-filter: blur(20px);

                i{
                    transform: scale(1.1);
                }
            }


            i{
                color: $color1;
            }
        }
    }

    nav{
        width: 100%;
        height: 10vh;
        background-color: rgba(255, 255, 255, 0.145);
        position: absolute;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: 50% 50%;

        .leftnav{
            display: flex;
            justify-content: center;align-items: center;
        }

        ul{
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        li{
            color: $color1;
            font-family: $font1;
            text-transform: uppercase;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ;
            cursor: pointer;

            &:hover{
                color: $color2;
                background-color: $color3;
            }

        }

        .rightnav{
            display: flex;
            align-items: center;
            justify-content: end;
        }

        i{
            color: $color1;
            margin: 0 25px;
        }

    }
}