.section1{
    background-color: $color1;
    text-align: center;

    h3{
        padding-top: 30px;
        font-family: $font2;
        font-weight: 200;
    }

    h1{
        text-transform: uppercase;
        margin:50px auto 40px;
        font-size: 3rem;
        width: 70%;
        font-family: $font1;
    }

    p{
        font-family: $font2;
        line-height: 40px;
        font-weight: 200;
        width: 50%;
        margin: 0 auto 40px;
    }

    img{
        display: block;
        width: 80%;
        margin: 0 auto 50px;
    }

    button{
        margin-bottom: 60px;
    }
}